/*Deep Teal: #006161
Creamy Yellow/Off-White: #FFFACD
Coral/Salmon: #FA8072
Charcoal Gray: #36454F
 
Google Fonts: Montserrat for Headers and Body
Google Fonts: Cedarville Cursive for fun things like quotes*/

* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

:root {
    --main-deep-teal: #006161;
    --main-charcoal-gray: #36454F;
    --off-white-creamy-yellow: #FFFACD;
    --coral-salmon: #fa8072;
}

body {
    max-width: 100%;
    min-width: 250px;
}

header {
    display: flex;
    background-color: var(--main-deep-teal);
    color: white;
    border: solid 2px var(--main-deep-teal);
    padding: 0 1rem;
    align-items: center;
    justify-content: space-between;
    min-height: 81px;
}

header img {
    max-width: 70px;
    height: auto;
    flex-shrink: 0;
}

.brand-info {
    display: flex;
    align-items: center;
    flex-shrink: 1;
    min-width: 0;
}

h1 {
    padding-left: .5rem;
    font-size: 1.5rem;
    font-style: italic;
}

h2 {
    padding: .5rem;
    /* padding-bottom: 1.5rem; */
    font-size: 1.5rem;
    color: var(--main-deep-teal);
    text-decoration: underline;
}

p {
    padding: .5rem;
}

li {
    padding: .25rem;
    font-size: x-large;
}

.why-solo {
    padding-bottom: 1rem;
    margin-left: 40px;
    text-align: center;
}

.why-solo p {
    color: var(--coral-salmon);
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    padding-bottom: 1.5rem;
}

.story {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 20px;
}

ul {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

/****NAVIGATION****/

.navigation {
    justify-content: space-between;
    align-items: start;
    max-height: fit-content;
    list-style: none;
    padding: 5px;
    background-color: rgba(0, 0, 0, .3);
}

#nav-bar {
    display: inline-block;
    position: relative;
}

.navigation ul {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
    padding-right: 15px;
}

.navigation a {
    display: none;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: large;
    border-bottom: none;
    padding: .75rem 0;
}

.open a {
    display: block;

}


/****HAMBURGER****/
#ham-btn {
    display: flex;
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
}

#ham-btn::before {
    content: "\2630";
}

#ham-btn.open::before {
    content: "\00D7";
}

#ham-btn.open {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
}

.current {
    margin-left: 1rem;
}

/****HERO IMAGE****/
.hero img {
    width: 100%;
    border: none;
}


/****WEATHER CARDS****/
#weather-cards-container {
    display: grid;
    gap: 20px;
    margin-bottom: 40px;
    justify-content: center;
    padding-top: 10px;
}

.weather-card {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 8px;
    width: 250px;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #EDEDED;
    border-color: var(--coral-salmon);
}

.weather-card p {
    padding: .25rem;
    text-align: left;
}

.weather-card img {
    background-color: #ccc;
}

.weather-card figcaption {
    padding: 1rem;
    font-size: medium;
    font-style: italic;
}


/****TRAVEL STOPS CARDS****/

.travel-stops-container {
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr;
}

#travel-stops section {
    width: 90%;
    display: grid;
    grid-template-areas:
        "day"
        "location"
        "photo"
        "name"
        "date";
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    background-color: #EDEDED;
    border: solid 3px var(--main-deep-teal);
}

#travel-stops h3 {
    grid-area: name;
    padding: .25rem;
    color: darkred;
    font-style: italic;
    text-decoration: underline;
}

#travel-stops section figure {
    grid-area: photo;
    padding: .25rem;
    width: 100%;
    overflow: hidden;
}

.travel-stop-day {
    grid-area: day;
    font-size: medium;
    font-style: italic;
    padding: .25rem;
}

.travel-stop-date {
    grid-area: date;
    font-size: small;
    padding: .25rem;
}

#travel-stops h4 {
    grid-area: location;
    font-size: large;
    padding: .25rem;
}

#travel-stops section img {
    height: 300px;
    object-fit: cover;
    border: 10px solid black;
}

#travel-stops button {
    max-width: 40%;
    padding: .5rem;
    margin-top: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--main-deep-teal);
    color: white;
}


/****QUESTION FORM****/

.form-container {
    border: black;
    margin: 0 auto;
    width: 90%;
    max-width: 500px;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.form-container h2 {
    background-color: var(--main-charcoal-gray);
    color: white;
    font-size: xx-large;
    text-align: center;
    border: solid 1px black;
    border-bottom: none;
    padding-top: .75rem;
}

.form-container div {
    padding-bottom: 1.25rem;
}

.form-container p {
    text-align: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
    background-color: var(--main-charcoal-gray);
    color: white;
}

.form-container label {
    font-weight: bold;
}

.form-container label input,
.form-container label textarea {
    display: block;
    width: 95%;
    box-sizing: border-box;
    margin-top: 5px;
}

.fields-container {
    background-color: #EDEDED;
    border: 1px solid black;
}

fieldset {
    padding-left: 1rem;
    padding-right: 0;
    border: none;
}

/*Submit Button*/
button[type="submit"] {
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: navy;
    color: white;
    font-size: larger;
    font-weight: bold;
}

.submit-button {
    text-align: center;
    margin-top: 20px;
}

/***THANK YOU PAGE****/
.thank-you {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.thank-you p {
    padding: 1rem;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    color: var(--main-dark-green);
}

.return-to-home {
    padding-bottom: 3rem;
    text-align: center;
    font-size: large;
    font-style: italic;
}

#form-results {
    padding: .5rem;
    font-size: x-large;
    justify-content: space-between;
}

/****FOOTER****/
footer {
    background-color: var(--main-deep-teal);
    color: white;
    padding: 10px;
    padding-top: 20px;
    text-align: center;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    padding-bottom: 15px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--main-charcoal-gray) solid 1px;
    background-color: #e3e3e3;
    border-radius: 4px;
    width: 54px;
    height: 44px;
}

.social img {
    width: 22px;
    height: 22px;
}

.footer p {
    padding: .20rem;
}