@media only screen and (min-width: 600px) {
    .travel-stops-container {
        padding-bottom: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .travel-stops-container img:hover {
        transform: scale(1.13);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25),
            0 6px 6px rgba(0, 0, 0, 0.2);
    }
}