/*color scheme
White: #ffffff
(very pale light gray green): #e4efed
Dark Gray Turquoise: #2E5147
Light Orange: #f8f1e1
**will I use this one?? -Dark Gray Green: #2a4235
Orange: #f39926
Gray Green: #9fb3a6*/

* {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}

:root {
    --main-dark-green: #2E5147;
    --main-orange: #f39926;
    --medium-gray-green: #9fb3a6;
    --pale-light-gray-green: #e4efed;
    --light-orange: #f8f1e1;
}

h1 {
    margin-left: 5px;
    color: var(--main-dark-green);
    font-size: 3rem;
    text-decoration: underline;
}

/****HEADER****/

header.main-header {
    display: flex;
    column-gap: 5px;
    background-image: url("../images/mt-hood-newhero.webp");
    min-width: 320px;
    min-height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: space-between;
    padding: 20px;
    background-color: transparent;
}

.brand-info {
    display: flex;
    gap: 10px;
    max-width: 288px;
}

.brand-info img {
    width: 64px;
    height: 64px;
    display: block;
}

.brand-info span {
    font-size: x-large;
    font-weight: bold;
    color: white;
}

/****NAVIGATION****/

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: start;
    max-height: fit-content;
    list-style: none;
    padding: 10px;
    background-color: rgba(0, 0, 0, .3);
}

.navigation ul {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
    padding-right: 15px;
}

.navigation a {
    display: none;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: large;
    border-bottom: none;
    padding: .75rem 0;
}

.open a {
    display: block;
}

.navigation a:hover {
    background-color: var(--main-dark-green);
}

/****HAMBURGER****/
#ham-btn {
    display: flex;
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
}

#ham-btn::before {
    content: "\2630";
}

#ham-btn.open::before {
    content: "\00D7";
}

.current {
    margin-left: 1rem;
}

/*!!!!**HOME PAGE - EVENTS/WEATHER SECTION**!!!!*/
.main-container h2,
.main-container h3,
.main-container h4 {
    font-size: xx-large;
    padding-left: 1rem;
    background-color: var(--pale-light-gray-green);
    font-style: italic;
    padding-top: .5rem;
    padding-bottom: .25rem;
    border-bottom: solid 1px var(--main-dark-green);
    border-top: solid 1px var(--main-dark-green);
}

.main-container {
    padding: 1rem;
}

.main-container section {
    padding-bottom: 1.5rem;
    background-color: var(--light-orange);
}

.main-container p,
li {
    font-size: x-large;
    padding-left: 1rem;
    padding-bottom: .5rem;
    padding-top: .25rem;
}

.main-container li {
    color: var(--main-dark-green);
}

/*!!!!**MEMBER CARDS SECTION**!!!!*/

/****Grid/List Buttons****/
.menu {
    font-size: large;
    padding-left: 15px;
    padding-bottom: 10px;
}

/****Member Cards****/
.member-card-container {
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr;
}

h5 {
    font-size: x-large;
    color: var(--main-dark-green);
    font-style: italic;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

#members p {
    font-size: small;
    padding: .25rem;
}

#members a {
    font-size: small;
    color: navy;
    font-weight: bold;
    padding: .25rem;
}

.grid section {
    width: 275px;
    height: 350px;
    margin: 20px;
    padding: 20px;
    background-color: var(--pale-light-gray-green);
    box-shadow: 10px 10px gray;
    text-align: center;
}

.grid section img {
    width: auto;
    height: 100px;
    border: 1px solid black;
}

.member-card-container.list {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
}

.list section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    box-shadow: none;
    margin: 0;
    padding: 0.5rem;
}

.list section img {
    display: none;
}

.list section:nth-child(even) {
    background-color: #bbb;
}

.spotlight-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    padding: 1rem;
}

.spotlight-card {
    background-color: var(--pale-light-gray-green);
    padding: 20px;
    border: 1px solid var(--main-dark-green);
    border-radius: 8px;
    text-align: center;
}


/****JOIN - BECOME A MEMBER****/
.form-container {
    padding-bottom: 2rem;
    margin-left: 5px;
}

.form-container h2 {
    color: black;
    background-color: var(--pale-light-gray-green);
    font-size: xx-large;
    text-align: center;
    border: solid 1px black;
    border-bottom: none;
    padding-top: .75rem;
}

.form-container h3 {
    background-color: var(--pale-light-gray-green);
    text-align: center;
    font-size: small;
    font-style: italic;
    color: red;
    padding-bottom: .25rem;
    border: solid 1px black;
    border-top: none;
}

.form-container div {
    padding-bottom: 1rem;
}

.form-container h4 {
    padding-bottom: .5rem;
    text-decoration: underline;
}

.form-container label {
    font-weight: bold;
}

.form-container label input,
.form-container label textarea {
    display: block;
    width: 75%;
    box-sizing: border-box;
    margin-top: 5px;
}

fieldset {
    padding-left: 1rem;
    padding-right: 0;
}

.membership-options {
    display: flex;
    flex-direction: column;
}

.select-membership {
    border: none;
}

.select-membership label {
    font-weight: normal;
}

.select-membership legend {
    font-weight: bold;
    font-size: x-large;
    border-bottom: solid 1px black;
    color: var(--main-dark-green);
}

.radio-option {
    display: flex;
    align-items: center;
}

.radio-option input[type="radio"] {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    accent-color: blue;
}

.radio-option label {
    cursor: pointer;
}

label[for="business-description"] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

#business-description {
    box-sizing: border-box;
    margin-top: 5px;
}

/*Submit Button*/
button[type="submit"] {
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: green;
    color: white;
    font-size: larger;
    font-weight: bold;
    max-width: 600px;
    border: 4px solid black;
}

.submit-button {
    text-align: center;
}

/***THANK YOU PAGE****/
.thank-you {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.thank-you p {
    padding: 1rem;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    color: var(--main-dark-green);
}

.return-to-home {
    padding-bottom: 1rem;
    text-align: center;
    font-style: italic;
}

#form-results {
    padding: .5rem;
    font-size: x-large;
    justify-content: space-between;
}


/****MEMBERSHIP LEVEL MODALS****/
.membership-level-cards {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.membership-level-cards h4 {
    font-size: xx-large;
    padding-bottom: 1.5rem;
}

.membership-level-cards p {
    font-size: x-large;
    color: black;
    font-weight: bold;
    font-style: normal;
    padding-bottom: .5rem;
    font-style: italic;
}

.membership-level-cards button {
    padding: .5rem;
    margin-left: 7rem;
    margin-right: 7rem;
}

.single-card {
    padding-bottom: 1.5rem;
    background-color: var(--pale-light-gray-green);
    border: solid 1px black;
    padding-top: .75rem;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 1rem;
}

#open-level1 {
    background-color: lightseagreen;
}

#open-level2 {
    background-color: orange;
}

#open-level3 {
    background-color: silver;
}

#open-level4 {
    background-color: yellow;
}

#close-levels {
    background-color: beige;
    align-items: center;
    justify-content: center;
}

#membership-levels {
    border: none;
    padding: 0;
    max-width: 600px;
    width: 90%;
    overflow: hidden;
    margin: auto;
}

.modal-box-text {
    padding: 30px;
    min-height: 150px;
    ;
}

#membership-levels::backdrop {
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(2px);
}


/****DISCOVER PAGE****/
.place-card-container {
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr;
}

.place-card-container h2 {
    font-size: x-large;
    color: var(--main-dark-green);
    font-style: italic;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

#places p {
    font-size: small;
    padding: .25rem;
}

#places a {
    font-size: small;
    color: navy;
    font-weight: bold;
    padding: .25rem;
}

/****FOOTER****/
footer {
    background-color: var(--main-dark-green);
    color: var(--light-orange);
    padding: 10px;
    padding-top: 20px;
    text-align: center;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    padding-bottom: 15px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--main-dark-green) solid 1px;
    background-color: var(--pale-light-gray-green);
    border-radius: 4px;
    width: 44px;
    height: 44px;
}

.social img {
    width: 22px;
    height: 22px;
}

.social a:hover {
    background-color: #ddd;
}