/*color scheme
White: #ffffff
(very pale light gray green): #e4efed
Dark Gray Turquoise: #2E5147
Light Orange: #f8f1e1
**will I use this one?? -Dark Gray Green: #2a4235
Orange: #f39926
Gray Green: #9fb3a6*/

* {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}

:root {
    --main-dark-green: #2E5147;
    --main-orange: #f39926;
    --medium-gray-green: #9fb3a6;
    --pale-light-gray-green: #e4efed;
    --light-orange: #f8f1e1;
}

h1 {
    margin-left: 5px;
    color: var(--main-dark-green);
}

p {
    padding-bottom: 15px;
}

/****HEADER****/
header.main-header {
    background-image: url("../images/mt-hood-newhero.webp");
    min-width: 320px;
    min-height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: transparent;
}

.brand-info {
    display: flex;
    gap: 10px;
}

.brand-info img {
    width: 64px;
    height: 64px;
    display: block;
}

.brand-info span {
    font-size: x-large;
    font-weight: bold;
    color: white;
}

/****NAVIGATION****/
.navigation {
    background-color: transparent !important;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    border-bottom: none !important;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 20px;
}

.navigation a {
    display: block;
    padding: .75rem 0;
    text-decoration: none;
    color: white;
    font-weight: bold;
    border-bottom: none;
    background-color: transparent;
}

.navigation a:hover {
    background-color: var(--main-dark-green);
}

/****HAMBURGER****/
.hamburger {
    background: none;
    border: none;
    color: var(--main-dark-green);
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;

}

.hamburger::before {
    content: "\2630";
}

.hamburger.show::before {
    content: "\00D7";
}

/****FOOTER****/
footer {
    background-color: var(--main-dark-green);
    color: var(--light-orange);
    padding: 10px;
    padding-top: 20px;
    text-align: center;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    padding-bottom: 15px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--main-dark-green) solid 1px;
    background-color: var(--pale-light-gray-green);
    border-radius: 4px;
    width: 44px;
    height: 44px;
}

.social img {
    width: 22px;
    height: 22px;
}

.social a:hover {
    background-color: #ddd;
}