/*color scheme
White: #ffffff
(very pale light gray green): #e4efed
Dark Gray Turquoise: #2E5147
Light Orange: #f8f1e1
Dark Gray Green: #2a4235
Orange: #f39926
Gray Green: #9fb3a6*/

* {
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}

h1 {
    margin-left: 5px;
    color: #2a4235;
}

h2 {
    margin-left: 10px;
    color: #2a4235;
}

h2 {
    background-color: #f8f1e1;
    font-size: x-large;
    border-bottom: 1px solid #2E5147;
}

p {
    margin-left: 20px;
}

/****STUDENT PHOTO****/

.selfie {
    align-content: center;
}

.selfie img {
    max-width: 100%;
    margin-left: 15px;
    margin-right: 20px;
    border: 5px solid black;
}

/****HEADER****/

header {
    display: grid;
    grid-template-columns: 84px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: center;
    border-bottom: solid 1px #f39926;
    column-gap: 8px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
    /*border-radius: 50%;*/
}

header span {
    font-size: xx-large;
    color: #2a4235;
}

/****NAVIGATION****/
.navigation {
    display: none;
    font-size: large;
}

.navigation.show {
    display: block;
}

.navigation a {
    display: block;
    padding: .75rem 10px;
    text-decoration: none;
    color: #2a4235;
    border-bottom: solid 1px #ddd;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a:hover {
    background-color: #f8f1e1;
}

/****HAMBURGER****/
.hamburger {
    background: none;
    border: none;
    color: #483D8B;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630";
}

.hamburger.show::before {
    content: "\00D7";
}

/****MAIN COURSES BUTTONS****/
.course-type-btns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.courses button {
    margin-bottom: 25px;
    padding: 10px;
    background-color: #e4efed;
    font-size: large;
    font-weight: bold;
    border-radius: 15%;
    align-content: center;
}

/****COURSES****/
#course-list {
    margin-left: 35px;
    margin-right: 35px;
}

.course-item {
    margin-bottom: 15px;
    text-align: center;
    border: 1px solid #2a4235;
    background-color: #f8f1e1;
}

.total-credits {
    font-size: small;
    padding-bottom: 15px;
    align-content: center;
    text-align: center;
    margin-right: 15px;
}

/****FOOTER****/
footer {
    background-color: #2E5147;
    color: #f8f1e1;
    padding: 10px;
    padding-top: 20px;
    text-align: center;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: #2E5147 solid 1px;
    background-color: #e4efed;
    border-radius: 4px;
    width: 44px;
    height: 44px;
}

.social img {
    width: 22px;
    height: 22px;
}

.social a:hover {
    background-color: #ddd;
}